@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";
@import "tw-animate-css";

/* Dark mode handled via class */
:root {
  color-scheme: dark;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
